<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.piuraservices.piuraservices">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.TelefoniaActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="views.activities.TelefoniaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".UbicanosActivity"
            android:label="@string/title_activity_ubicanos"
            android:parentActivityName=".views.activities.LoginActivity" />
        <activity android:name=".views.activities.RegisterUserActivity" />
        <activity
            android:name=".views.activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".TelefoniaActivity" />
        <activity
            android:name=".views.activities.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:parentActivityName=".views.activities.LoginActivity" />
        <activity
            android:name=".views.activities.InformacionTramitesActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="views.activities.InformacionTramitesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.InformacionReclamosActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="views.activities.InformacionReclamosActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.EPS_grauActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="views.activities.EPS_grauActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.EnosaActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="views.activities.EnosaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.OpenWebActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="views.activities.OpenWebActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.InformacionReferencialActivity"
            android:label="@string/title_activity_inforeferencial" />
        <activity android:name=".views.activities.AdministrarInformacionActivity" />
        <activity android:name=".views.activities.ItemInformacionTramitesActivity" />
        <activity android:name=".views.activities.ItemInformcionReclamosActivity" />
        <activity android:name=".views.activities.ItemInformacionReferencialActivity" />
        <activity android:name=".InfoTramitesEnosaActivity" />
        <activity android:name=".InfoTramitesEpsActivity" />
        <activity android:name=".InfoReclamosEnosaActivity" />
        <activity android:name=".InfoReclamosEpsActivity" />
    </application>

</manifest>