<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.piuraservices.piuraservices">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Informacion activities publicos -->
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activitiestelefonia.TelefoniaActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="views.activitiestelefonia.TelefoniaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".UbicanosActivity"
            android:label="@string/title_activity_ubicanos"
            android:parentActivityName=".views.activities.LoginActivity" />
        <activity
            android:name=".views.activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".views.activities.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:parentActivityName=".views.activities.LoginActivity" />
        <activity
            android:name=".views.activities.OpenWebActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="views.activities.OpenWebActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- activiteoes for to epsgrau -->
        <activity
            android:name=".views.activitiesepsgrau.EPS_grauActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="views.activitiesepsgrau.EPS_grauActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activitiesepsgrau.InfoTramitesEpsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".views.activitiesepsgrau.EPS_grauActivity">
            <intent-filter>
                <action android:name="views.activitiesepsgrau.InfoTramitesEpsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activitiesepsgrau.InfoReclamosEpsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".views.activitiesepsgrau.EPS_grauActivity">
            <intent-filter>
                <action android:name="views.activitiesepsgrau.InfoReclamosEpsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Informacion activity enosa -->
        <activity
            android:name=".views.activitiesenosa.EnosaActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="views.activitiesenosa.EnosaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Informacion tramites enosa -->
        <activity
            android:name=".views.activitiesenosa.InfoTramitesEnosaActivity"
            android:label="@string/app_name"
            android:parentActivityName=".views.activitiesenosa.EnosaActivity">
            <intent-filter>
                <action android:name="views.activitiesenosa.InfoTramitesEnosaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activitiesenosa.InfoReclamosEnosaActivity"
            android:label="@string/app_name"
            android:parentActivityName=".views.activitiesenosa.EnosaActivity">
            <intent-filter>
                <action android:name="views.activitiesenosa.InfoReclamosEnosaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- administrar Informacion tramites enosa -->
        <activity
            android:name=".views.activities.ConfigurarCuentaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".views.activitiestelefonia.movistar.InfoMovistarActivity"
            android:parentActivityName=".views.activitiestelefonia.TelefoniaActivity"
            android:theme="@style/ThemeMovistarActivity" />
        <activity
            android:name=".views.activitiestelefonia.entel.InfoEntelActivity"
            android:parentActivityName=".views.activitiestelefonia.TelefoniaActivity"
            android:theme="@style/ThemeEntelActivity" />
        <activity
            android:name=".views.activitiestelefonia.claro.InfoClaroActivity"
            android:parentActivityName=".views.activitiestelefonia.TelefoniaActivity" />
        <activity
            android:name=".views.activities.ContactosActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".views.activitiestelefonia.movistar.InfoTramitesMovistarActivity"
            android:parentActivityName=".views.activitiestelefonia.movistar.InfoMovistarActivity"
            android:theme="@style/ThemeMovistarActivity" />
        <activity
            android:name=".views.activitiestelefonia.movistar.InfoReclamosMovistarActivity"
            android:parentActivityName=".views.activitiestelefonia.movistar.InfoMovistarActivity"
            android:theme="@style/ThemeMovistarActivity" />
        <activity
            android:name=".views.activitiestelefonia.entel.InfoTramitesEntelActivity"
            android:parentActivityName=".views.activitiestelefonia.entel.InfoEntelActivity"
            android:theme="@style/ThemeEntelActivity" />
        <activity
            android:name=".views.activitiestelefonia.entel.InfoReclamosEntelActivity"
            android:parentActivityName=".views.activitiestelefonia.entel.InfoEntelActivity"
            android:theme="@style/ThemeEntelActivity" />
        <activity
            android:name=".views.activitiestelefonia.claro.InfoReclamosClaroActivity"
            android:parentActivityName=".views.activitiestelefonia.claro.InfoClaroActivity" />
        <activity
            android:name=".views.activitiestelefonia.claro.InfoTramitesClaroActivity"
            android:parentActivityName=".views.activitiestelefonia.claro.InfoClaroActivity" />
        <activity
            android:name=".views.activities.ListaDireccionesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".views.activities.ContactoDetalleActivity"
            android:parentActivityName=".views.activities.ContactosActivity" />
        <activity android:name=".views.activitiesenosa.OpenWebEnosaActivity" />
        <activity
            android:name=".views.activitiestelefonia.movistar.OpenWebMovistarActivity"
            android:theme="@style/ThemeMovistarActivity" />
        <activity
            android:name=".views.activitiestelefonia.entel.OpenWebEntelActivity"
            android:theme="@style/ThemeEntelActivity" />
        <activity android:name=".views.activitiestelefonia.claro.OpenWebClaroActivity" />
        <activity
            android:name=".views.activitiesepsgrau.OpenWebEpsGrauActivity"
            android:parentActivityName=".views.activitiesepsgrau.OpenWebEpsGrauActivity" />
        <activity
            android:name=".views.activitiesepsgrau.DetallereclamosEpsActivity"
            android:parentActivityName=".views.activitiesepsgrau.InfoReclamosEpsActivity" />
        <activity
            android:name=".views.activities.AcercadeActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".views.activitiesenosa.DetalleReclamosEnosaActivity" />
        <activity android:name=".views.activitiesepsgrau.DetalleTramitesEpsgrauActivity"></activity>
    </application>

</manifest>